version: '3.8'

services:
  neo4j:
    image: neo4j:latest
    container_name: sp500_graph_db
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_AUTH=neo4j/12345678  # ЛОГИН / ПАРОЛЬ
      - NEO4J_apoc_export_file_enabled=true
      - NEO4J_apoc_import_file_enabled=true
      - NEO4J_dbms_security_procedures_unrestricted=apoc.*
    volumes:
      - ./neo4j_data:/data